<!-- START: Site Header -->
<div
class="main-nav"><div
class="row navbar"> <a
class="toggle" gumby-trigger=".navbar > ul" href="#"> <i
class="icon-menu"></i> </a><ul
id="menu-main" class="twelve columns"><li
id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-20 current_page_item menu-item-48"><a
href="/">Home</a></li><!--li
id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8"><a
href="/about/">About</a></li--><li
id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a
href="/blog/">Blog</a></li><li
id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a
href="https://github.com/USODI/usodi.org">USODI on GitHub</a></li></ul></div></div>
<header role="banner" class="site-header parallax" gumby-parallax="0.5">
	<div class="row">
		<!-- START: Intro -->
		<div class="twelve columns header-intro-wrap fadeUpIn">
			<h1 class="logo">
        <a href="/">
          <span>U.S.</span> Open Data Institute
        </a>
      </h1>
			<p>Building scalable, replicable open data ecosystems.</p>
			<div class="catch-errors-top"></div>
		</div>
		<!-- /END: Intro -->
	</div>
</header>
<!-- /END: Site Header -->
